@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  

  .swiper-button-prev, .swiper-button-next{
    color: rgba(255, 255, 255, 0.979);
   
  }
  @media (min-width:600px) {
    .swiper-button-prev, .swiper-button-next{
      margin: 0 40px;
    }
  }
  .swiper-button-prev::after, .swiper-button-next::after{
   font-size: 22px;
    
  }
  @media (min-width:768px) {
    .swiper-button-prev::after, .swiper-button-next::after{
      font-size: 28px;
       
     }
  }
  .swiper-pagination-bullet-active,.swiper-pagination-bullet{
    width: 11px;
    height: 11px;
    background-color: white;
  }
  @media (min-width: 768px) {
    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
      width: 13px;
      height: 13px;
    }
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .swiper-wrapper {
   
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }


    @media (min-width: 640px) and (max-width: 767px) {
      .sm-only\:w-for-img {
        width: 23rem;
        margin: auto;
      }
      
    }
    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
    }
    
    .scrollbar-hide::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
    